*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    font-family:'Poppins', -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: white;
    color: black;
    overflow: hidden;
    width: 100%;
    height: 100%;
}